out
bin
files
.idea
.settings
.metadata
ShowTracker.iml
.classpath
.project
**/.DS_Store*
/src/showtracker/server/Test.java
.jar
.bat
/src/showtracker/client/META-INF/
/src/showtracker/server/META-INF/
/Client.jar
/Server.jar